
<app-header></app-header>

<div *ngIf="$boardData | async as board">
    <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="board" id="playBookList" (cdkDropListDropped)="drop($event)">

        <div cdkDropListGroup class="board-container">

            <app-board *ngFor="let data of board" [boardData]=data cdkDrag >
            </app-board>
            <div class="card">
         
                <app-add-edit-card *ngIf="addBoardClick==true;else addBoard" [addBoard]='true' (sendNewData)="getBoardData($event)" (cardStatus)="closeForm()"></app-add-edit-card>
            
                <ng-template #addBoard >
                    <button class="btn btn-secondary p-3 m-2" (click)="addNewBoard()" >
                        + Add Board
                    </button>
                </ng-template>

            </div>
        </div>
    </div>
</div>
